@charset "utf-8";

/* CSS Document */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    background: transparent;
}

ol,
ul,
dl {
    list-style: none;
}

li {
    line-height: 1.6;
}

blockquote,
q {
    quotes: none;
}


/* remember to define focus styles! */

:focus {
    outline: 0;
}


/* remember to highlight inserts somehow! */

ins {
    text-decoration: none;
}

del {
    text-decoration: line-through;
}


/* clearfix */

.clearfix:after {
    content: ".";
    /* 新しい要素を作る */
    display: block;
    /* ブロックレベル要素に */
    clear: both;
    height: 0;
    visibility: hidden;
}

.clearfix {
    min-height: 1px;
}

* html .clearfix {
    height: 1px;
    /*\*/
    /*/
  height: auto;
  overflow: hidden;
  /**/
}

* {
    margin: 0;
    padding: 0;
    text-align: left;
}

img {
    border: none;
    vertical-align: bottom;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul {
    margin: 0;
    padding: 0;
    font-weight: normal;
}

div {
    zoom: 1;
    /*for IE 5.5-7*/
}

div:after {
    /*for modern browser*/
    content: ".";
    display: block;
    height: 0px;
    clear: both;
}

p {
    text-align: left;
    line-height: 1.6;
}


/* 汎用スタイル */

.al_right {
    text-align: right;
}

.al_left {
    text-align: left;
}

.al_center {
    text-align: center;
}

.f_left {
    float: left;
}

.f_right {
    float: right;
}

.clear {
    clear: both;
}

.f_10 {
    font-size: 10px;
}

.f_12 {
    font-size: 12px;
}

.f_13 {
    font-size: 13px;
}

.f_15 {
    font-size: 15px;
}

.bold {
    font-weight: bold;
}

.mt_5 {
    margin-top: 5px;
}

.mt_10 {
    margin-top: 10px;
}

.mt_15 {
    margin-top: 15px;
}

.mt_20 {
    margin-top: 20px;
}

.mt_25 {
    margin-top: 25px;
}

.mt_30 {
    margin-top: 30px;
}

.mt_40 {
    margin-top: 40px;
}

.mt_50 {
    margin-top: 50px;
}

.mb_5 {
    margin-bottom: 5px;
}

.mb_10 {
    margin-bottom: 10px;
}

.mb_15 {
    margin-bottom: 15px;
}

.mb_20 {
    margin-bottom: 20px;
}

.mb_30 {
    margin-bottom: 30px;
}

.mb_40 {
    margin-bottom: 40px;
}

.mb_50 {
    margin-bottom: 50px;
}

.pt_5 {
    padding-top: 5px;
}

.pt_10 {
    padding-top: 10px;
}

.pb_5 {
    padding-bottom: 5px;
}

.pb_10 {
    padding-bottom: 10px;
}


/* サイトスタイル */

body {
    font-family: "ヒラギノ角ゴPro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", Arial, Helvetica, Verdana, sans-serif;
    font-size: 14px;
    color: #383733;
    background-color: #f7f6f1;
    line-height: 1.4;
}

a {
    color: #383733;
    text-decoration: underline;
}

a:hover {
    color: #383733;
    text-decoration: none;
}

input,
select,
textarea {
    font-size: 14px;
}

label {
    font-size: 12px;
    padding: 0 15px 0 10px;
}

.clear-fix {
    overflow: hidden;
    position: relative;
}